<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/master_page :: header">
 
  </head>
 
  <body class="vh-100" style="background-color: gainsboro;">
    <nav th:replace="fragments/master_page :: navbar"></nav>
     <div class="p-5 w-50 mt-5">
		  <header class="text-primary text-center p-3 fs-1 mt-5 fw-bold">Welcome to Ticket Reserve System</header>
      
	 </div>
   
       
   

    <div th:replace="fragments/master_page :: scripts"></div>
  </body>
</html>
