<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/site.css}">
	<title>Ticket Reserve System  - Login</title>
</head>

<body class="p-3 mb-2 bg-light text-black">
	<div class="d-flex flex-column justify-content-center min-vh-100 min-vw-100">


		<div class="w-50 m-auto d-flex flex-column justify-content-center align-items-center ">
			<a th:href="@{/}">
				<img width="150" height="70" src="/images/logo.png" class="rounded m-auto"  />
			</a>

			<form th:action="@{/login}" method="POST" class="w-75">

				
				<div th:if="${result == 'Failed'}" class="alert alert-danger">
					Can not login please enter correct username/password!
				</div>
				<div class="form-group mt-3">
					<label>Email</label>

					<input type="input" id="username" name="username" class="form-control  p-2" placeholder="Email"
						required>
				</div>
				<div class="form-group mt-3">
					<label id="passwordLabel">Password</label>

					<input type="password" id="password" name="password" class="form-control  p-2"
						placeholder="Password" maxlength="20" required>
				</div>

				<div class="form-group mt-3 d-flex justify-content-center">
					

					<button type="submit" class="btn btn-primary  px-5">Login</button>

				</div>



			</form>

		</div>
	</div>

</body>

</html>